@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
    color: greenyellow !important;
    font-weight: 700;
}
.cardBg{
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}